[submodule "CS_Simulation_GAMA"]
	path = CS_Simulation_GAMA
	url = https://github.com/CityScope/CS_Simulation_GAMA
[submodule "CS_CSharpScope_Andorra"]
	path = CS_CSharpScope_Andorra
	url = https://github.com/CityScope/CS_CSharpScope_Andorra
[submodule "CS_CityScopeAR"]
	path = CS_CityScopeAR
	url = https://github.com/CityScope/CS_CityScopeAR
[submodule "CS_CityIO_Backend"]
	path = CS_CityIO_Backend
	url = https://github.com/CityScope/CS_CityIO_Backend
